.paginator  {
margin: 10px;
}

.pageNumber {
    padding: 2px;
    color: yellow;
    border: solid;
}

.param {
    color: red;
    padding: 50px
}

.selectedPage {
    font-weight: bold;
    color: red;

}

